<!DOCTYPE html>
<html>

<head>
    <!--style specs for "sign up" validation-->
    <style>
        .divs {
            position: relative;
            height: 50px;
        }

        .inputs {
            position: absolute;
            left: 120px;
            top: 0px;
        }

        .error {
            color: red;
            position: absolute;
            top: -15px;
            left: 310px;
        }
    </style>
    <!--<link type="text/css" rel="stylesheet" href="styles.css"/>-->
    <title>Blogz</title>
    <h1>Blogz: {{pgtitle}}</h1>
        <!--{% if 'username' not in session %}-->
        <a href="/signup">Create Account</a>
        <a href="/login">Log in</a>
        <!--{% endif %}-->
        <a href='/'>Home</a>
        <a href="/newpost">Make New Blog Post</a>
        <a href="/blog">View Blog Posts</a>
        {% if 'username' in session %}
        <a href="/logout">Log Out</a>
        {% endif %}
    {% with messages = get_flashed_messages()%}
    <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
    </ul>
    {% endwith %}

</head>

<body>
    {% block content %}
    {% endblock %}
</body>

</html>